<div class="container columns text-center mt-75">
    <h1 class="column col-md-6 col-md-offset-3 col-sm-12">Lachezar Zahariev F103149</h1>
    <img src='@Url.Content("~/Content/img/profile.jpg")' alt="profile-pic" class="image col-md-6 col-md-offset-3 col-sm-8">
    <h2 class="col-md-8 col-md-offset-2 col-sm-12">Who am I?</h2>
    <p class="description text-left col-md-8 col-md-offset-2 col-sm-12">
        Hi, I'm Lachezar Zahariev, Nacho and I'm 21 years old.
        I live in Sofia, Bulgaria and except for my past two years I've lived here
        my entire life. Last two years I spent studying in the Netherlands
        where I made a lot of progress, but felt uncomfortable due to the environment
        which was the reason for me to come back. I like nearly anything related to nature and mountains,
        I train parkour and climbing, ride downhill and play strategy games like Heroes III in my spare time.
    </p>
</div>