body {
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: #2D132C;
}

.header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header a:hover {
    background-color: #801336;
    color: white;
    text-decoration: none;
}

.header a.active {
    text-decoration: none;
    background-color: #c72c41;
    color: white;
}

.image {
    max-width: 50vw;
}

.footer {
    width: 100%;
    height: 20vh;
    background: #2D132C;
    margin-top: 5vh;
    padding-top: 5vh;
    padding-left: 3vw;
}

.link-footer-home, .link-footer-gallery, .link-footer-feedback,
.link-footer-home:hover, .link-footer-gallery:hover, .link-footer-feedback:hover,
.link-footer-home:active, .link-footer-gallery:active, .link-footer-feedback:active {
    color: #c72c41;
    text-decoration: none;
    padding: 5px;
    font-size: 2rem;
}